/* === Message Bar === */
.toolbar.messagebar {
  @include translate3d(0, 0, 0);
  background: #fff;
  @include hairline(top, #d1d1d1);
  height: 48px;
  top: auto;
  bottom: 0;
  font-size: 16px;
  overflow: hidden;
  textarea {
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 3px 8px 3px;
    margin: 0;
    width: 100%;
    height: 28px;
    color: #333;
    font-size: 16px;
    line-height: 22px;
    font-family: inherit;
    resize: none;
    @include flex-shrink(1);
  }
  a.link {
    color: #333;
    @include align-self(flex-end);
    height: $toolbarSize;
    line-height: $toolbarSize;
    @include active-highlight-color(rgba(0, 0, 0, 0.1));

  }
  .link {
    @include flex-shrink(0);
  }
  ~ .page-content {
    padding-bottom: $toolbarSize;
  }
  .page.no-toolbar & ~ .page-content {
    padding-bottom: $toolbarSize;
  }
  .hidden-toolbar & {
    @include translate3d(0, 0, 0);
    @include transition(0ms);
  }
}
