/* === Progress Bar === */
.progressbar, .progressbar-infinite {
  height: 4px;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  @include transform-origin(center bottom);
  background: rgba(red($themeColor), green($themeColor), blue($themeColor), 0.5);
}

// Determined
.progressbar {
  display: block;
  vertical-align: middle;
  transform-style: preserve-3d;
  span {
    content: '';
    width: 100%;
    background: $themeColor;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include translate3d(-100%, 0, 0);
    @include transition(150ms);
  }
}

// Infinite
.progressbar-infinite {
  z-index: 15000;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $themeColor;
    @include transform-origin(left center);
  }
  &:before {
    @include animation(progressbar-infinite-1 2s linear infinite);
  }
  &:after {
    @include animation(progressbar-infinite-2 2s linear infinite);
  }
  html.with-statusbar-overlay body > & {
    top: 20px;
  }
}

// Multicolor
.progressbar-infinite.color-multi {
  background: none !important;
  &:before, &:after {
    width: 100%;
    animation: none;
  }
  &:before {
    background: none;
    @include animation(progressbar-infinite-multicolor-bg 3s step-end infinite);
  }
  &:after {
    background: none;
    @include animation(progressbar-infinite-multicolor-fill 3s linear infinite);
    @include transform-origin(center center);
  }
}

body, .view, .views, .page, .panel, .popup {
  > .progressbar, > .progressbar-infinite {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15000;
    @include transform-origin(center top);
  }
}

// Animations
.progressbar-in {
  @include animation(progressbar-in 300ms forwards);
}

.progressbar-out {
  @include animation(progressbar-out 300ms forwards);
}

html.with-statusbar-overlay body > .progressbar {
  top: 20px;
}

@keyframes progressbar-in {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes progressbar-out {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}

@keyframes progressbar-infinite-1 {
  0% {
    transform: translateX(-10%) scaleX(0.1);
  }
  25% {
    transform: translateX(30%) scaleX(0.6);
  }
  50% {
    transform: translateX(100%) scaleX(1);
  }
  100% {
    transform: translateX(100%) scaleX(1);
  }
}

@keyframes progressbar-infinite-2 {
  0% {
    transform: translateX(-100%) scaleX(1);
  }
  40% {
    transform: translateX(-100%) scaleX(1);
  }
  75% {
    transform: translateX(60%) scaleX(0.35);
  }
  90% {
    transform: translateX(100%) scaleX(0.1);
  }
  100% {
    transform: translateX(100%) scaleX(0.1);
  }
}

@keyframes progressbar-infinite-multicolor-bg {
  0% {
    background-color: $green;
  }
  25% {
    background-color: $red;
  }
  50% {
    background-color: $blue;
  }
  75% {
    background-color: $yellow;
  }
}

@keyframes progressbar-infinite-multicolor-fill {
  0% {
    transform: scaleX(0);
    background-color: $red;
  }
  24.9% {
    transform: scaleX(1);
    background-color: $red;
  }
  25% {
    transform: scaleX(0);
    background-color: $blue;
  }
  49.9% {
    transform: scaleX(1);
    background-color: $blue;
  }
  50% {
    transform: scaleX(0);
    background-color: $yellow;
  }
  74.9% {
    transform: scaleX(1);
    background-color: $yellow;
  }
  75% {
    transform: scaleX(0);
    background-color: $green;
  }
  100% {
    transform: scaleX(1);
    background-color: $green;
  }
}